.gradle
/build
/plugins/com.gridnine.jasmine.server.standard/classes/
/plugins/com.gridnine.jasmine.server.standard/source-gen/com/gridnine/jasmine/server/standard/model/rest/
/plugins/com.gridnine.jasmine.web.core/source-gen/
/plugins/com.gridnine.jasmine.server.standard/source-gen/
/plugins/com.gridnine.jasmine.web.core/resources/jasmine-core/
/plugins/com.gridnine.jasmine.web.easyui/resources/jasmine-easyui/
/build-scripts/out/production/classes/
/plugins/com.gridnine.jasmine.web.core.test/resources/webapp-core-test/
