<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.common.core">
    <parameter id="type" value="COMMON_CORE"/>
    <dependencies>
        <lib-dependency group="ch.qos.logback" name="logback-classic" version="1.2.3"/>
        <lib-dependency group="org.jetbrains.kotlin" name="kotlin-stdlib-jdk8" version="1.4.10"/>
        <lib-dependency group="org.jetbrains.kotlin" name="kotlin-reflect" version="1.4.10"/>
        <lib-dependency group="com.fasterxml.jackson.core" name="jackson-core" version="2.10.3"/>
    </dependencies>
    <extension-point id="activator">
        <parameter-def id="class"/>
    </extension-point>
    <extension point-id="activator">
        <parameter id="class" value="com.gridnine.jasmine.common.core.activator.CoreActivator"/>
    </extension>
</plugin>