<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.server.core.test">
    <parameter id="type" value="SERVER_TEST"/>
    <dependencies>
        <lib-dependency group="junit" name="junit" version="4.12"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.db.h2"/>
    </dependencies>
    <extension point-id="domain-metadata">
        <parameter id="file" value="plugins/com.gridnine.jasmine.server.core.test/source/com/gridnine/jasmine/server/core/test/model/core-test-model-domain.xml"/>
        <parameter id="url" value="com/gridnine/jasmine/server/core/test/model/core-test-model-domain.xml"/>
        <parameter id="dest-server-plugin-id" value="com.gridnine.jasmine.server.core.test"/>
    </extension>
    <extension point-id="rest-metadata">
        <parameter id="file" value="plugins/com.gridnine.jasmine.server.core.test/source/com/gridnine/jasmine/server/core/test/model/core-test-model-rest.xml"/>
        <parameter id="url" value="com/gridnine/jasmine/server/core/test/model/core-test-model-rest.xml"/>
        <parameter id="dest-server-plugin-id" value="com.gridnine.jasmine.server.core.test"/>
    </extension>
</plugin>