<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.server.zk">
    <parameter id="type" value="SERVER"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.common.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.core"/>
        <lib-dependency group="org.zkoss.zk" name="zk" version="9.5.0.2"/>
        <lib-dependency group="org.zkoss.zk" name="zul" version="9.5.0.2"/>
        <lib-dependency group="org.zkoss.theme" name="silvertail" version="9.5.0.2"/>
    </dependencies>
</plugin>