<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.server.standard">
    <parameter id="type" value="SERVER"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.core"/>
    </dependencies>
    <extension point-id="rest-metadata">
        <parameter id="relative-path" value="source/com/gridnine/jasmine/server/standard/model/standard-rest.xml"/>
        <parameter id="url" value="com/gridnine/jasmine/server/standard/model/standard-rest.xml"/>
        <parameter id="dest-server-plugin-id" value="com.gridnine.jasmine.server.standard"/>
<!--        <parameter id="dest-client-plugin-id" value="com.gridnine.jasmine.web.core"/>-->
    </extension>
</plugin>
