<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.web.reports">
    <parameter id="type" value="WEB"/>
    <parameter id="kotlin-output-dir" value="resources/jasmine-reports"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.web.standard"/>
    </dependencies>
</plugin>