<plugin xmlns="http://xtrip.gridnine.com/spf" id="com.gridnine.jasmine.server.sandbox.test">
    <parameter id="type" value="SERVER_TEST"/>
    <parameter id="main-class" value="com.gridnine.jasmine.server.sandbox.test.web.SandboxWebTest"/>
    <dependencies>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.core"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.standard"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.db.h2"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.sandbox"/>
        <plugin-dependency plugin-id="com.gridnine.jasmine.server.spf"/>
    </dependencies>
</plugin>